body{
    font-family: 'Roboto',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: white;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

h2, h3, p{
    margin: 0;
}

.header{
    background-color: #1F2937;
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    padding: 1% 12.5%;
    display: flex;
    justify-content: space-between;
}

ul{
    list-style: none;
    display: flex;
    gap: 16px;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.dark{
    height: 230px;
    background-color: #1F2937;
    display: flex;
    padding: 80px 12.5%;
    gap: 100px;
}

.hero{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.grey-left>p,
.text{
    flex-wrap: wrap;
}

.grey-left{
    display: flex;
    flex-direction: column;
    color: #e5e7eb;
    font-size: 18px;
    width: 45%;
    justify-content: space-between;
}

button{
    background-color: #3882F6;
    padding: 8px 16px;
    color: white;
    border-radius: 8px;
    width: 120px;
}

#two{
    border: solid white 2px;
}

.picture{
    width: 55%;
    background-color: #e5e7eb;
    color: white;
    text-align: center;
    align-content: center;
}

.light-one{
    height: 230px;
    padding: 80px 17.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.items{
    width: 100%;
    gap: 50px;
    display: flex;
    justify-content: space-between;
}

.item{
    width: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.box{
    border: solid #3882F6 2px;
    border-radius: 16px;
    width: 140px;
    height: 140px;
}

.grey{
    height: 230px;
    background-color: #e5e7eb;
    padding: 80px 17.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

#quote{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

#signature{
    align-self: flex-end;
    font-weight: bold;
}

.light-two{
    height: 230px;
    display: flex;
    padding: 80px 12.5%;
    justify-content: center;
    align-items: center;
}

.blue-container{
    width: 100%;
    height: 40%;
    background-color: #3882F6;
    border-radius: 6px;
    padding: 28px 12.5%;
    color: white;
    display: flex;
    align-items: center;
}

.blue-left{
    display: flex;
    flex-direction: column;
    width: 75%;
}

.bolder{
    font-weight: bolder;
    font-size: large;
}

.footer{
    height: 7%;
    margin-top: auto;
    text-align: center;
    background-color: #1F2937;
    color: #e5e7eb;
    padding: 1%;
}


